* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --lightGray: #d6e2f0;
  --grayishblue: #7b879d;
  --darkblue: #1f3251;
  --lightPurple: #3e52a3;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 325px;
  padding: 15px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 10px;
}
.info {
  text-align: center;
  padding-inline: 15px;
}
.info h2 {
  color: var(--darkblue);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.info p {
  color: var(--grayishblue);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}
.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--lightPurple);
}
